body {
  width: 1920px;
  height: 1080px;
  margin: auto;
}

.container-fluid {
  padding: 0;
}


.game{
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  overflow: hidden;
}

canvas {
  text-align: center;
  width: 1920px;
  height: 1080px;
  background-image: url("../img/canvas-gif.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

#title {
  background-image: url("../img/title.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#titleWords {
  text-align: center;
  color: yellow;
  font-size: 50px;
  margin: 25% 25% 0 0; 
}

.click:hover {
  cursor: pointer;
}

@font-face {
  font-family: 'starjedi';
  src: url('../css/Starjedi.ttf');
} 

@font-face {
  font-family: gameover;
  src: url(../css/gameover.ttf);
}

.endingScreen {
  background-image: url("../img/endscreen.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  display: none;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#fafa03, #fa0a03);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: starjedi;
  font-weight: bolder;
  font-size: 150px;
}

#tryAgain {
  text-align: center;
  border-style: none;
  background: none;
  color: gold;
  text-shadow: black 2px 2px;
  font-family: starjedi;
  font-size: 25px;
}

.home {
  text-align: center;
  border-style: none;
  background: none;
  color: gold;
  text-shadow: black 2px 2px;
  font-family: starjedi;
  font-size: 25px;
}

#endScore {
  text-align: center;
  border-style: none;
  background: none;
  color: gold;
  text-shadow: black 2px 2px;
  font-family: starjedi;
  font-size: 25px;
}