body {
  width: 1920px;
  height: 1080px;
  margin: auto;
}


.game{
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  overflow: hidden;
}

canvas {
  text-align: center;
  width: 1920px;
  height: 1080px;
  background-image: url("../img/canvas-gif.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

#title {
  background-image: url("../img/title.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#titleWords {
  text-align: center;
  color: yellow;
  font-size: 50px;
  margin: 25% 25% 0 0; 
}

.click:hover {
  cursor: pointer;
}

@font-face {
  font-family: 'starjedi';
  src: url('../css/Starjedi.ttf');
} 

@font-face {
  font-family: gameover;
  src: url(../css/gameover.ttf);
}

.endingScreen {
  background-image: url("../img/endscreen.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  display: none;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#fafa03, #fa0a03);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: starjedi;
  font-weight: bolder;
  font-size: 150px;
}

#tryAgain {
  height: 100px;
}

#tryAgain:hover{
  cursor: pointer;
}

.home:hover{
  cursor: pointer;
}

.home {
  height: 100px;
}

#endScore {
  text-align: center;
  border-style: none;
  background: none;
  color: gold;
  text-shadow: black 2px 2px;
  font-family: starjedi;
  font-size: 100px;
  margin-top: 100px;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}

#infoPanel {
  height: 300px;
  display: none;
}

#infoButton:hover {
  cursor: pointer;
}